body{
font-family: Arial, sans-serif;
}

ul {
    margin: 0;
    padding: 10px;
    margin-bottom: 10px;
}

li{
    list-style: none;
     margin-left: 10px;
     padding: 0;
    color: #000;
    font-size: 16px;
    font-weight:100 ;
    line-height: 19px;
}
li:first-letter {
    text-transform: capitalize;
}

#city {
    color: #000;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-left: 10px;
}

.weather-app-wrapper{
max-width: 500px;
margin: 30px auto;
   
}


.weather-app{
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
    background-color: rgb(135, 206, 250);
}


.weather-temperature img{
    margin-right: 5px;
    position: relative;
    top: -7px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: rgb(33, 33, 33);
    font-size: 24px;
    line-height: 1;
    font-weight: 400;
    position: relative;
        top: -7px;
}
.weather-temperature .unit {
    position: relative;
    font-size: 16px;
    top: -12px;
    opacity: 0.5;
}

#forecast-card-body{
    text-align: center;
    color: #f99f38 ;
    font-size: 16px;
    font-weight:400px;
}


.card{
 
border: none;
background-color: rgb(236 242 249);
}

#date-forecast{
   
    font-size: 18px;
    color: rgb(38 51 51);
}
  
#icon-forecast{
    margin-right: 5px;
        position: relative;
        top: -12px;
        height: 64px;
        width: 64px;
}
#max-temperature{
    font-weight: bold;
}

#min-temperature{
    opacity: 0.5;
}

#link-source {
    text-decoration: none;
}